
body{
font-family: Chalkboard;
margin:0;
}

.topnav{
background-color: white;
overflow: hidden;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.topnav a{
font-size: 20px;
text-align: center;
color: blue;
float:right;
padding: 35px 50px;
text-decoration: none;
}
.topnav a:hover {
background-color: #C8E8F3;
color: black;
}
.logo{
float: left;
padding-left: 100px;
}
.footer{
  left: 400px;
  text-align: center;
  background-color: white;
  color: blue;
}

#pages{
  display: none;
}
