
body{
font-family: Chalkboard;
margin:0;
}

.topnav{
background-color: white;
overflow: hidden;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.topnav a{
font-size: 20px;
text-align: center;
color: blue;
float:right;
padding: 35px 50px;
text-decoration: none;
}
.topnav a:hover {
background-color: #C8E8F3;
color: black;
}
.logo{
float: left;
padding-left: 100px;

}
.footer{
    left: 400px;
    text-align: center;
    background-color: white;
    color: blue;
    padding: 20px;
    padding-top: 20px;

}

.pages{
  display: none;
  top: 120px;
  left:350px;
  position: absolute;
}

.next{
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-left: 50px solid #0000cd;
  top: 310px;
  left: 630px;
  position: absolute;

}

.previous{
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-left: 50px solid #0000cd;
  transform: rotate(-180deg);
  top: 310px;
  left: 270px;
  position: absolute;

}

.next:hover{
  border-left: 50px solid #00008b;
}

.previous:hover{
  border-left: 50px solid #00008b;
}

#page p{
  border: 2.5px solid ;
  top: 0px;
  left: 400px;
  position: absolute;
  width: 250px;
  font-size: 20px;
  background-color: white;
  text-align: center;
  color: rgb(82, 134, 238);
}

  #menu{
    display: none;
  }

  #close{
    display: none;
}

@media only screen and (max-width: 500px) {
  .topnav a{
    display: b;
  }

  #bakgrunn{
    display: none;
  }

    .pages{
      left: 125px;
    }

  .previous{
    left: 45px;
  }

  .next{
    left: 400px;
  }

  #page p{
    top: 480px;
    left: 0px;
  }



  .menu_icon{
    top: 10px;
    left: 10px;
    position: absolute;

  }

  .menu_icon div{
    border: 3px solid;
    width: 30px;
    border-radius: 20px;
    margin-top: 6.5px;
    margin-left: 20px;
    color: rgb(22, 51, 181);

  }

  #menu{

    position: absolute;
    border: 1px solid;
    padding-top: 150px;
    padding-bottom: 500px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    text-align: right;
    background-color: rgb(22, 51, 181);
    display: none;
  }

  #menu a{
    text-decoration: none;
    font-size: 30px;
    color: white;
  }

  #close{
    top: 0px;
    position: absolute;
    color: white;
    top: 0px;
    position: absolute;
    color: white;
    display: none;
  }

  .footer{
    padding-top: 1100px;
  }


}

@media only screen and (max-width: 1000px) {
  .topnav a{
    display: none;
  }

    .pages{
      left: 125px;
    }

  .previous{
    left: 45px;
  }

  .next{
    left: 400px;
  }

  .menu_icon{
    top: 10px;
    left: 10px;
    position: absolute;

  }

  .menu_icon div{
    border: 3px solid;
    width: 30px;
    border-radius: 20px;
    margin-top: 6.5px;
    margin-left: 20px;
    color: rgb(22, 51, 181);

  }


  #menu{

    position: absolute;
    border: 1px solid;
    padding-top: 150px;
    padding-bottom: 500px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    text-align: right;
    background-color: rgb(22, 51, 181);
    display: none;
  }

  #menu a{
    text-decoration: none;
    font-size: 30px;
    color: white;
  }

  #close{
    top: 0px;
    position: absolute;
    color: white;
    top: 0px;
    position: absolute;
    color: white;
    display: none;
  }

  .footer{
    display: none;
  }

}
